# Logs
*.log
.phpunit.result.cache

# OS / IDE files
.DS_Store
Thumbs.db
/.idea
/.vscode
/.zed
/.fleet
/.nova

# Environment
.env
.env.backup
.env.production
/auth.json

# Node / NPM / Vite
/node_modules
/public/build
/public/hot
/public/storage

# Laravel storage and cache
/storage/*
!/storage/.gitignore
!/storage/app/.gitignore
!/storage/app/public/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Vendor / dependencies
/vendor

# Homestead / misc
Homestead.json
Homestead.yaml
/storage/pail
/storage/*.key
